alembic==1.0.1
aniso8601==3.0.2
autoenv==1.0.0
backcall==0.1.0
Click==7.0
decorator==4.3.0
Flask==1.0.2
Flask-Cors==3.0.6
Flask-Migrate==2.2.1
Flask-RESTful==0.3.6
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.1
ipython==7.0.1
ipython-genutils==0.2.0
itsdangerous==0.24
jedi==0.13.1
Jinja2==2.10
Mako==1.0.7
MarkupSafe==1.0
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
prompt-toolkit==2.0.6
psycopg2==2.7.5
ptyprocess==0.6.0
Pygments==2.2.0
python-dateutil==2.7.3
python-dotenv==0.9.1
python-editor==1.0.3
pytz==2018.5
simplegeneric==0.8.1
six==1.11.0
SQLAlchemy==1.2.12
traitlets==4.3.2
wcwidth==0.1.7
Werkzeug==0.14.1
pytest==3.9.1
